/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: #f5f5ef;
}
body {
  padding: 1% 3%;
}
/*End of Reset*/
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
}
p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 1% 0;
  border-bottom: 2px solid black;
}
header nav {
  display: flex;
  justify-content: space-between;
  width: 30%;
}
header nav a {
  color: black;
  text-decoration: none;
  padding: 2%;
  background-color: #e8e6df;
}
header h3 {
  width: 25%;
  justify-self: flex-end;
  align-self: flex-end;
}
header .role {
  text-align: end;
}
main .about-content {
  display: flex;
  justify-content: space-between;
  padding: 5% 2%;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}
main .about-content .img-container {
  max-width: 48%;
}
main .about-content .img-container img {
  max-width: 100%;
}
main .about-content .about-container {
  max-width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
main .about-content .about-container .self {
  display: flex;
  flex-direction: column;
  text-align: center;
  letter-spacing: 1.5px;
  line-height: 3;
}
main .about-content .about-container .self h1 {
  padding: 1%;
  font-size: 3rem;
}
main .about-content .about-container .self h2 {
  padding: 2% 0 5%;
  font-size: 2rem;
}
main .about-content .about-container .about {
  text-align: right;
  line-height: 2;
  align-self: flex-end;
}
main .talent {
  padding: 5% 2%;
  display: flex;
  justify-content: space-between;
}
main .talent section {
  width: 46%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
